@use 'functions' as *;
@use 'mixins' as *;

.wrapper {
  @include flex-col(center, center, wrap);
  width: 100%;
  height: 100%;
  position: relative;
}

.main-section {
  @include flex-row(center, flex-start, wrap);
  position: absolute;
  top: 280px;
  left: 0;
  width: 100%;
  height: 100%;
  // height: calc(100% - 280px);
  padding: 0 30px;
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.app-footer {
  @include flex-col(center, center, wrap);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color: yellow, $alpha: 0.5);
}
