@use 'functions' as *;
@use 'mixins' as *;
@use 'config' as *;

.app-header {
  @include flex-row(center, space-between, nowrap);
  width: 100%;
  padding: 10px 25px 10px 10px;
  background-color: set-color($accents, "blue1");

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 200px;
    background: url("../assets/img/best-friends.jpg");
    background : {
      position: center;
      size: cover;
      repeat: no-repeat;
    }
  }

  &_logo {
    position: relative;
    height: 60px; //ajustat pentru spaatiul rezidual de sub poza...

    img {
      width: 60px;
    }

    span {
      position: absolute;
      bottom: 10px;
      left: 60px;
      height: 30px;
      width: 80px;
      line-height: 0.8rem;
      font-family: "Arial Black", sans-serif, Helvetica, sans-serif;
      font-size: 20px;
      color: set-color($accents, "anthr");
      text-shadow: 2px 2px 3px
        rgba($color: set-color($accents, black1), $alpha: 0.5);
    }
  }

  &_menu {
    position: relative;
    text-align: center;
    font-size: 11px;
    padding: 5px;

    &:hover {
      cursor: pointer;

      span i,
      div {
        color: darken($color: set-color($accents, anthr), $amount: 20%);
        transition: color 0.3s ease;
      }
    }

    span i {
      color: set-color($accents, anthr);
      font-size: 25px;
      transform: rotateZ(-25deg);
      transition: color 0.3s ease;
    }

    div {
      display: block;
      position: absolute;
      bottom: -9px;
      left: 6px;
      font-weight: bolder;
      color: set-color($accents, anthr);
      transition: color 0.3s ease;
    }
  }
}

.app-footer {
  @include flex-col(center, center, wrap);
  width: 100%;

  &_nav {
    @include special-bg-txt-col(anthr);
    width: 100%;
    text-transform: uppercase;
    padding: 30px 20px 60px;
    font-weight: 900;
    font-size: 20px;

    &-item {
      margin-bottom: 15px;
      transition: color 0.3s ease;

      &:hover {
        cursor: pointer;
        color: darken($color: set-color($accents, yellow1), $amount: 30%);
        transition: color 0.3s ease;
      }
    }
  }

  &_bottom {
    @include flex-row(center, space-between, nowrap);
    width: 100%;
    padding: 10px 25px 10px 10px;
    background-color: set-color($accents, "blue1");

    &-logo {
      position: relative;
      height: 60px; //ajustat pentru spaatiul rezidual de sub poza...

      img {
        width: 60px;
      }

      span {
        position: absolute;
        bottom: 10px;
        left: 60px;
        height: 30px;
        width: 80px;
        line-height: 0.8rem;
        font-family: "Arial Black", sans-serif, Helvetica, sans-serif;
        font-size: 20px;
        color: set-color($accents, "anthr");
        text-shadow: 2px 2px 3px
          rgba($color: set-color($accents, black1), $alpha: 0.5);
      }
    }

    &-menu {
      position: relative;
      text-align: center;
      padding: 5px 60px 5px 5px;

      &:hover {
        cursor: pointer;
      }

      span i {
        color: set-color($accents, anthr);
        font-size: 30px;
        transition: color 0.3s ease;

        &:hover {
          color: darken($color: set-color($accents, anthr), $amount: 20%);
          transition: color 0.3s ease;
        }
      }
    }
  }
}
